<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="form-group">
        <label translate="boardatjobApp.job.title">Title</label>
        <input type="text" class="form-control" name="title"
               ng-model="job.title" required>

        <div ng-show="editForm.title.$invalid">
            <p class="help-block"
               ng-show="editForm.title.$error.required" translate="entity.validation.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="form-group">
        <label translate="boardatjobApp.job.description">Description</label>
        <input type="text" class="form-control" name="description"
               ng-model="job.description">

    </div>
    <div class="form-group">
        <label translate="boardatjobApp.job.responsibilities">Responsibilities</label>
        <input type="text" class="form-control" name="responsibilities"
               ng-model="job.responsibilities">

    </div>
    <div class="form-group">
        <label translate="boardatjobApp.job.requirements">Requirements</label>
        <input type="text" class="form-control" name="requirements"
               ng-model="job.requirements">

    </div>
    <div class="form-group">
        <label translate="boardatjobApp.job.postDate">PostDate</label>
        <input type="datetime-local" class="form-control" name="postDate"
               ng-model="job.postDate" ng-model-options="{timezone: 'UTC'}">

    </div>

    <div class="form-group">
        <label translate="boardatjobApp.job.companyListing">companyListing</label>
        <select class="form-control" name="companyListing" ng-model="job.companyListing.id" ng-options="company.id as company.name for company in companys">
        </select>
    </div>
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
    </button>
    <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
        <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
    </button>
</form>
