<div>

    <h2 translate="boardatjobApp.job.home.title">Jobs</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" data-toggle="modal" data-target="#saveJobModal" ng-click="clear()">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="boardatjobApp.job.home.createLabel">Create a new Job</span>
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="saveJobModal" tabindex="-1" role="dialog" aria-labelledby="myJobLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myJobLabel" translate="boardatjobApp.job.home.createOrEditLabel">Create or edit a Job</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label translate="boardatjobApp.job.title">Title</label>
                            <input type="text" class="form-control" name="title"
                                   ng-model="job.title" required>

                            <div ng-show="editForm.title.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.title.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="boardatjobApp.job.description">Description</label>
                            <input type="text" class="form-control" name="description"
                                   ng-model="job.description">

                        </div>
                        <div class="form-group">
                            <label translate="boardatjobApp.job.responsibilities">Responsibilities</label>
                            <input type="text" class="form-control" name="responsibilities"
                                   ng-model="job.responsibilities">

                        </div>
                        <div class="form-group">
                            <label translate="boardatjobApp.job.requirements">Requirements</label>
                            <input type="text" class="form-control" name="requirements"
                                   ng-model="job.requirements">

                        </div>
                        <div class="form-group">
                            <label translate="boardatjobApp.job.postDate">PostDate</label>
                            <input type="datetime-local" class="form-control" name="postDate"
                                   ng-model="job.postDate" ng-model-options="{timezone: 'UTC'}">

                        </div>

                        <div class="form-group">
                            <label translate="boardatjobApp.job.companyListing">companyListing</label>
                            <select class="form-control" name="companyListing" ng-model="job.companyListing.id" ng-options="company.id as company.name for company in companys">
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteJobConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(job.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="boardatjobApp.job.delete.question" translate-values="{id: '{{job.id}}'}">Are you sure you want to delete this Job?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive" style="margin-top: 10px">
        <table class="table table-striped">
            <tbody infinite-scroll="loadPage(page + 1)" infinite-scroll-disabled="links['last'] == page">
                <tr ng-repeat="job in jobs">
                    <td>{{job.title}}</td>
                    <td>{{job.description}}</td>
                    <td>{{job.postDate}}</td>
                    <td>{{job.companyListing.name}}</td>
                    <td ng-switch="isAuthenticated()">
                        <button ng-switch-when="true" has-role="ROLE_USER" type="submit"
                                class="btn btn-default btn-sm">
                            APPLY
                        </button>
                        <button has-role="ROLE_RECRUITER" type="submit"
                                ui-sref="jobDetail({id:job.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="showUpdate(job.id)"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(job.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
