language: java 
jdk:
    - oraclejdk8
before_install: 
    - mvn clean
    - npm install -g npm
    - npm install -g bower
install: mvn install -Pprod
notifications:
  webhooks:
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: false     # default: false
