$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$image-base-path: "../../assets/images/";
    
// bower:scss
@import "bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

body {
    padding-top: 40px;
}

footer {
    margin: 50px 0;
}

.navbar-inverse {
  background-color: #28292B;
  border-color: #080808;
}

a {
  color: #EF483D;
}

a:focus, a:hover {
  color: #D3251A;
  text-decoration: underline;
}

h1.logo {
    position: relative;
    overflow:hidden;
    padding: 0;
}

h1.logo a {
    position: absolute;
    height: 0;
    width: 330px;
    background-position: left top;
    background-repeat: no-repeat;
}

h1#logo {
    height: 52px;
}

h1#logo a {
    padding-top: 52px;
    background-image: url(#{$image-base-path}logo.png);
    text-indent: -9999px;
}

.btn, a, li>a{
	transition-delay: 0s;
	transition-duration: 0.5s;
	transition-property: all;
	transition-timing-function: ease;
}
.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 0;
}

.PostAJob{
	float: right;
	margin-top: 26px;
	background-color: #EF483D;
	color:white;
	border: 0;
}

.PostAJob:hover{
	background-color: #FF584D;
	color:white;
	border: 0;
}

#splash{
	min-height: 230px;
	background: #2d2e30 url("#{$image-base-path}main-bg.png");
	border-top: 3px solid #EF483D;
	position: relative;
	margin-bottom: 40px;
}

#splash-with-image{
	min-height: 290px;
	background: #3b3031 url(#{$image-base-path}main-img-bg.png) no-repeat 50% 63%;
	border-top: 3px solid #EF483D;
	position: relative;
	margin-bottom: 40px;
	padding-top: 33px;
}

.announcement{
	
}

.announcement-icon{
	float: left;
	margin-top: 50px;
	margin-left: 100px;
}

.announcement span {
	font-family: 'Lobster', cursive;
	color: white;
	height: 230px;
	display: table-cell;
	vertical-align: middle;
	font-size: 34px;
	line-height: 48px;
	padding: 20px 100px;
	text-align: center;
}

.well {
	float: left;
	background-color: white;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.lead {
	margin-bottom: 8px;
	font-size: 18px;
}

h2.title{
	margin-top: 0;
	font-size: 24px;
}

.btn-primary {
	background-color: #EF483D;
	border: 0;
}

.btn-primary:hover {
  background-color: #FF584D;
  border:0;
}

.navigation{
	width: 100%;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
color: #fff;
background-color: #EF483D;
}

.margintop20 {
    margin-top:20px;
}

.nav-pills>li>a {
border-radius: 4px;
}

a {
color: #000;
text-decoration: none;
}

a:hover {
color: #EF483D;
text-decoration: none;
}

.well h4{
	margin-top: 0px;
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
}
.nav-stacked>li+li {
margin-top: 0px;
margin-left: 0;
border-bottom:1px solid #dadada;
border-left:1px solid #dadada;
border-right:1px solid #dadada;
	border:none;
}

.active2 {
    border-left:4px solid #428bca;
}

.pager li>a:focus, .pager li>a:hover {
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #EF483D;
}

@media (max-width: 992px){
.announcement span {
  float: left;
  text-align: center;
}
.announcement-icon {
  float: none;
  margin-top: 50px;
  margin-left: 0px;
}
.annonceIcon{
	text-align: center;
}
.announcement span {
  padding: 30px 0px;
}
}