<div ng-switch="isAuthenticated()" class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 id="logo" class="logo">
                    <a ui-sref="home">Board@Job</a>
                </h1>
            </div>
            <div ng-switch-when="true" class="col-md-6">
                <button ui-sref="jobCreate" has-role="ROLE_RECRUITER" type="button" class="btn btn-default btn-lg PostAJob">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    Post a Job
                </button>
            </div>
        </div>
    </div>
</div>

<div id="splash-with-image" ng-show="showBanner()">
    <div class="container">
        <div class="row announcement">
            <div class="col-md-12">
					<span>Develop enterprise-grade applications at startup speed with JHipster and JHipster-UML!</span>
            </div>
        </div>
    </div>
</div>
