
<div infinite-scroll="loadPage(page + 1)" infinite-scroll-disabled="links['last'] == page">

    <div class="well col-xs-12" ng-repeat="jobApplication in jobApplications">
        <h2 class="title">
            <span>
                {{jobApplication.firstName}} {{jobApplication.lastName}}
            </span>
            <span class="pull-right">
                {{jobApplication.createdFor.title}} @
                <a ui-sref="companyDetail({id: jobApplication.createdFor.id})">{{jobApplication.createdFor.companyListing.name}}</a>
            </span>
        </h2>
        <p>
            <span class="glyphicon glyphicon-globe"></span> {{jobApplication.country}}, {{jobApplication.zipCode}}
        </p>
        <p>
            <span ng-if="jobApplication.phoneNumber != null" class="glyphicon glyphicon-earphone"></span> {{jobApplication.phoneNumber}}
            <span style="font-size:15px" class="pull-right close" ng-click="delete(jobApplication.id)">Delete</span>
        </p>
    </div>

</div>

<div class="modal fade" id="deleteJobApplicationConfirmation">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="deleteForm" ng-submit="confirmDelete(jobApplication.id)">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                            ng-click="clear()">&times;</button>
                    <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                </div>
                <div class="modal-body">
                    <p translate="boardatjobApp.jobApplication.delete.question" translate-values="{id: '{{jobApplication.id}}'}">Are you sure you want to delete this JobApplication?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                    </button>
                    <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

